body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  margin: 10px 0;
}

.main {
  flex: 1;
}

.card {
  background: #f1f5f9;
  padding: 10px;
  margin: 10px;
}

.login {
  text-align: center;
  margin-top: 100px;
}